.item{
    background-color: teal;
    width: 100px;
    height: 100px; 
    display: flex;
    display: block;
    position: relative;
}
.statlist{
    display: flex;
    justify-content: center;
    align-items: center;
}
.h2{
    text-align: center;
}

.label {
    display: block;
    width: fit-content;
position: absolute;
top: 30%;
left: 30%;
}
.labelp{
    position: absolute;
top: 50%;
left: 30%;
}

.section{
margin-top: 50px;
margin-bottom: 50px;
}